.centered-text {
  max-width: 672px;
  margin: 0 auto;
  padding: 0 1rem;
}

.h1 {
  font-family: 'Amiri', 'Crimson Text', Times New Roman, serif;
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: left;
  width: calc(100% - 2rem);
  @media (min-width: 672px) {
  }
}

.h2 {
  font-family: 'Nunito Sans', 'Roboto', Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  text-align: left;
  width: calc(100% - 2rem);
  @media (min-width: 672px) {
  }
}