///////////// Intro /////////////
.intro {
  max-width: 672px;
  padding: 1.5em 1rem;
  text-align: center;
  margin: 0 auto;
  // positioning
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image {
  height: 15rem;
  width: 15rem;
}
